// colors
$cFont: #111;
$cFontInv: #fafafa;
$cFontDimmed: #eee4da;
$cPrimary: pink;
$cSecondary: pink;
$cBorder: pink;
$cBoard: gold;
$cBack: #bbada0;
$cBtn: #8f7a66;
$cHover: darken(#8f7a66, 25%);
$cTilePlaceholder: navy;

//
$dPadding: 4px;